/* CYAN COLOR*/
.bg-cyan {
    background-color: #34F0FF;
}

a.bg-cyan:hover,
a.bg-cyan:focus,
button.bg-cyan:hover,
button.bg-cyan:focus {
    background-color: #00b2ce !important;
}

.btn-cyan {
    color: #1C1C1C;
    background-color: #34D4FF;
    border-color: #34D4FF;
}

.btn-cyan:hover {
    color: #1C1C1C;
    background-color: #00b2ce;
    border-color: #00b2ce;
}

.btn-cyan:focus,
.btn-cyan.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(52, 212, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(52, 212, 255, 0.5);
}

.border-cyan {
    border-color: #34F0FF !important;
}

/* AQUA COLOR*/
.bg-aqua {
    background-color: #3EFAC5;
}

a.bg-aqua:hover,
a.bg-aqua:focus,
button.bg-aqua:hover,
button.bg-aqua:focus {
    background-color: #41e8b9 !important;
}

.btn-aqua {
    color: #1C1C1C;
    background-color: #3EFAC5;
    border-color: #3EFAC5;
}

.btn-aqua:hover {
    color: #1C1C1C;
    background-color: #41e8b9;
    border-color: #41e8b9;
}

.btn-aqua:focus,
.btn-aqua.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(62, 250, 197, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(62, 250, 197, 0.5);
}

.border-aqua {
    border-color: #41e8b9 !important;
}

/* amarrillo COLOR*/
.bg-amarillo {
    background-color: #FDD300;
}

a.bg-amarillo:hover,
a.bg-amarillo:focus,
button.bg-amarillo:hover,
button.bg-amarillo:focus {
    background-color: #FDD300 !important;
}

.btn-amarillo {
    color: #1C1C1C;
    background-color: #FDD300;
    border-color: #FDD300;
}

.btn-amarillo:hover {
    color: #1C1C1C;
    background-color: #FDD300;
    border-color: #FDD300;
}

.btn-amarillo:focus,
.btn-amarillo.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(253, 211, 0, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(253, 211, 0, 0.5);
}

.border-amarillo {
    border-color: #FDD300 !important;
}

/* VERDE COLOR*/
.bg-verde {
    background-color: #86F200;
}

a.bg-verde:hover,
a.bg-verde:focus,
button.bg-verde:hover,
button.bg-verde:focus {
    background-color: #71c904 !important;
}

.btn-verde {
    color: #1C1C1C;
    background-color: #86F200;
    border-color: #86F200;
}

.btn-verde:hover {
    color: #1C1C1C;
    background-color: #71c904;
    border-color: #71c904;
}

.btn-verde:focus,
.btn-verde.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(133, 241, 0, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(133, 241, 0, 0.5);
}

.border-verde {
    border-color: #71c904 !important;
}

/* LILA COLOR*/
.bg-lila {
    background-color: #852766;
}

a.bg-lila:hover,
a.bg-lila:focus,
button.bg-lila:hover,
button.bg-lila:focus {
    background-color: #691d50 !important;
}

.btn-lila {
    color: #fff;
    background-color: #AB2765;
    border-color: #AB2765;
}

.btn-lila:hover {
    color: #fff;
    background-color: #AB2765;
    border-color: #AB2765;
}

.btn-lila:focus,
.btn-lila.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(133, 39, 102, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(133, 39, 102, 0.5);
}

.border-lila {
    border-color: #AB2765 !important;
}

/* yellow COLOR*/
.bg-yellow {
    background-color: #FDD300;
}

.bg-white:hover {
    color: #1C1C1C !important;
}

/* red COLOR*/
.bg-red {
    background-color: #C00000;
}

a.bg-red:hover,
a.bg-red:focus,
button.bg-red:hover,
button.bg-red:focus {
    background-color: #C63430 !important;
}

.btn-red {
    color: #fff;
    background-color: #C63430;
    border-color: #C63430;
}

.btn-red:hover {
    color: #fff;
    background-color: #C63430;
    border-color: #C63430;
}

.btn-red:focus,
.btn-red.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(198, 52, 48, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(198, 52, 48, 0.5);
}

/* ladrillo COLOR*/
.bg-ladrillo {
    background-color: #F07B3B;
}

/* dark yellow COLOR*/
.bg-dark-yellow {
    background-color: #E55407;
}

/* bg-dark-green COLOR*/
.bg-dark-green {
    background-color: #86F200;
}

/* NEGRO DEXCON COLOR*/
.text-negro {
    color: #1C1C1C;
}

.bg-negro {
    background-color: #1C1C1C;
}

a.bg-negro:hover,
a.bg-negro:focus,
button.bg-negro:hover,
button.bg-negro:focus {
    color: aliceblue !important;
    background-color: #1C1C1C !important;
}

.btn-negro {
    color: #fff;
    background-color: #1C1C1C;
    border-color: #1C1C1C;
}

.btn-negro:hover {
    color: #fff;
    background-color: #1C1C1C;
    border-color: #1C1C1C;
}

.btn-negro:focus,
.btn-negro.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.card-hover:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.ml-12 {
    margin-left: 12rem !important;
}

.ml-35 {
    margin-left: 35% !important;
}

.w-12 {
    width: 12rem;
}

.graficas {
    width: 100%;
    height: 600px !important;
}

.first-uppercase span::first-letter {
    text-transform: uppercase !important;
}

.first-uppercase::first-letter {
    text-transform: uppercase !important;
}

/* Modal FullScreen */
.modal.modal-fullscreen .modal-dialog {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    max-width: none;
}

.modal.modal-fullscreen .modal-content {
    height: auto;
    height: 100vh;
    border-radius: 0;
    border: none;
}

.modal.modal-fullscreen .modal-body {
    overflow-y: auto;
}

/* Colores en modal de graficas*/
.nav-pills .nav-link.clientes.active {
    color: black !important;
    background-color: #3EFAC5;
}

.nav-pills .nav-link.estrategia.active {
    color: black !important;
    background-color: #FDD300;
}

.nav-pills .nav-link.tecnologia.active {
    color: black !important;
    background-color: #34F0FF;
}

.nav-pills .nav-link.operaciones.active {
    color: black !important;
    background-color: #86F200;
}

.nav-pills .nav-link.cultura.active {
    color: white !important;
    background-color: #852766;
}

.vh-80 {
    height: 80vh !important;
}

.titulo-principal {
    font-size: 5.9rem;
    margin-top: 1.5rem !important;
}

.logo-titulo {
    width: 7rem !important;
    margin-left: 0.5%;
    float: left;
}

.fs-14 {
    font-size: 14px !important;
}

.hidden_principal {
    width: 0%;
    height: 0%;
    z-index: -99;
    position: absolute;
}

#dimension_grafica_h {
    z-index: -99;
    width: 0% !important;
    height: 0% !important;
    position: absolute;
}

#clientes_grafica_h {
    z-index: -99;
    width: 0% !important;
    height: 0% !important;
    position: absolute;
}

#clientes_grafica_h {
    z-index: -99;
    width: 0% !important;
    height: 0% !important;
    position: absolute;
}

#estrategia_grafica_h {
    z-index: -99;
    width: 0% !important;
    height: 0% !important;
    position: absolute;
}

#tecnología_grafica_h {
    z-index: -99;
    width: 0% !important;
    height: 0% !important;
    position: absolute;
}

#operaciones_grafica_h {
    z-index: -99;
    width: 0% !important;
    height: 0% !important;
    position: absolute;
}

#cultura_grafica_h {
    z-index: -99;
    width: 0% !important;
    height: 0% !important;
    position: absolute;
}

.modal-titulo {
    margin-left: 10.8rem;
}

.Editor-container {
    color: #1C1C1C !important;
}

/* preload*/

.loader {
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preload {
    width: 15%;
}

body{
    overflow: hidden;
}

@media (max-width: 1867px) {
    .titulo-principal {
        font-size: 5.7rem;
    }
}

@media (max-width: 1806px) {
    .titulo-principal {
        font-size: 5.5rem;
    }
}

@media (max-width: 1746px) {
    .titulo-principal {
        font-size: 5.2rem;
    }
}


@media (max-width: 1656px) {
    .titulo-principal {
        font-size: 4.9rem;
    }
}

@media (max-width: 1566px) {
    .titulo-principal {
        font-size: 4.7rem;
    }
}


@media (max-width: 1505px) {
    .titulo-principal {
        font-size: 4.5rem;
    }
}

@media (max-width: 1445px) {
    .titulo-principal {
        font-size: 4.3rem;
    }
}

@media (max-width: 1385px) {
    .titulo-principal {
        font-size: 4.1rem;
    }
}

@media (max-width: 1324px) {
    .titulo-principal {
        font-size: 3.9rem;
    }
}

@media (max-width: 1264px) {
    .titulo-principal {
        font-size: 3.7rem;
    }
}


@media (max-width: 1199.98px) {
    .titulo-principal {
        font-size: 3.2rem !important;
    }

    .ml-35 {
        margin-left: 0% !important;
    }

    .copyright {
        font-size: 1rem !important;
    }
}

@media (max-width: 992px) {
    .titulo-principal {
        padding-left: 13%;
        font-size: 3rem !important;
    }

    .copyright {
        font-size: 13px !important;
    }
}

@media (max-width: 768px) {
    .w-12 {
        width: 8rem !important;
    }

    .graficas {
        height:25rem !important;
    }

    .titulo-principal-container {
        justify-content: flex-start !important;
    }

    .titulo-principal {
        padding-top: 1rem;
        font-size: 2rem !important;
        padding-left: 0;
        margin-left: 0;
    }
}

@media (max-width: 575.98px) {
    .ml-35 {
        margin-left: 0% !important;
        display: flex;
    }

    .titulo-principal {
        padding-top: 1rem;
        font-size: 1.7rem !important;
        padding-left: 0;
    }

    .copyright {
        font-size: 9px !important;
    }

    .modal-title {
        display: inline-block;
        font-size: 20px !important;
        margin-left: 0% !important;
        margin-top: 8% !important;
    }

    .dexcon_copy {
        display: block;
    }

    .nav-pills .nav-item {
        width: 100% !important;
    }
    
    .preload {
        width: 25%;
    }
}

@media (max-width: 375px) {
    .copyright {
        font-size: 8px !important;
    }
}
