/* CYAN COLOR*/
.bg-cyan {
    background-color: #34F0FF;
}

a.bg-cyan:hover,
a.bg-cyan:focus,
button.bg-cyan:hover,
button.bg-cyan:focus {
    background-color: #00b2ce !important;
}

.btn-cyan {
    color: #fff;
    background-color: #34D4FF;
    border-color: #34D4FF;
}

.btn-cyan:hover {
    color: #fff;
    background-color: #00b2ce;
    border-color: #00b2ce;
}

.btn-cyan:focus,
.btn-cyan.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(52, 212, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(52, 212, 255, 0.5);
}

.border-cyan {
    border-color: #34F0FF !important;
}

/* AQUA COLOR*/
.bg-aqua {
    background-color: #3EFAC5;
}

a.bg-aqua:hover,
a.bg-aqua:focus,
button.bg-aqua:hover,
button.bg-aqua:focus {
    background-color: #41e8b9 !important;
}

.btn-aqua {
    color: #fff;
    background-color: #3EFAC5;
    border-color: #3EFAC5;
}

.btn-aqua:hover {
    color: #fff;
    background-color: #41e8b9;
    border-color: #41e8b9;
}

.btn-aqua:focus,
.btn-aqua.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(62, 250, 197, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(62, 250, 197, 0.5);
}

/* amarrillo COLOR*/
.bg-amarillo {
    background-color: #FDD300;
}

a.bg-amarillo:hover,
a.bg-amarillo:focus,
button.bg-amarillo:hover,
button.bg-amarillo:focus {
    background-color: #FDD300 !important;
}

.btn-amarillo {
    color: #fff;
    background-color: #FDD300;
    border-color: #FDD300;
}

.btn-amarillo:hover {
    color: #fff;
    background-color: #FDD300;
    border-color: #FDD300;
}

.btn-amarillo:focus,
.btn-amarillo.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(253, 211, 0, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(253, 211, 0, 0.5);
}

.border-amarillo {
    border-color: #FDD300 !important;
}

/* VERDE COLOR*/
.bg-verde {
    background-color: #86F200;
}

a.bg-verde:hover,
a.bg-verde:focus,
button.bg-verde:hover,
button.bg-verde:focus {
    background-color: #71c904 !important;
}

.btn-verde {
    color: #fff;
    background-color: #86F200;
    border-color: #86F200;
}

.btn-verde:hover {
    color: #fff;
    background-color: #71c904;
    border-color: #71c904;
}

.btn-verde:focus,
.btn-verde.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(133, 241, 0, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(133, 241, 0, 0.5);
}

.border-verde {
    border-color: #71c904 !important;
}

/* LILA COLOR*/
.bg-lila {
    background-color: #852766;
}

a.bg-lila:hover,
a.bg-lila:focus,
button.bg-lila:hover,
button.bg-lila:focus {
    background-color: #691d50 !important;
}

.btn-lila {
    color: #fff;
    background-color: #AB2765;
    border-color: #AB2765;
}

.btn-lila:hover {
    color: #fff;
    background-color: #AB2765;
    border-color: #AB2765;
}

.btn-lila:focus,
.btn-lila.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(133, 39, 102, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(133, 39, 102, 0.5);
}

.border-lila {
    border-color: #AB2765 !important;
}

/* yellow COLOR*/
.bg-yellow {
    background-color: yellow;
}

/* red COLOR*/
.bg-red {
    background-color: red;
}

/* dark yellow COLOR*/
.bg-dark-yellow {
    background-color: #FFC000;
}

/* bg-dark-green COLOR*/
.bg-dark-green {
    background-color: #92D050;
}

/* NEGRO DEXCON COLOR*/
.bg-negro {
    background-color: #1C1C1C;
}

a.bg-negro:hover,
a.bg-negro:focus,
button.bg-negro:hover,
button.bg-negro:focus {
    color: aliceblue !important;
    background-color: #1C1C1C !important;
}

.btn-negro {
    color: #fff;
    background-color: #1C1C1C;
    border-color: #1C1C1C;
}

.btn-negro:hover {
    color: #fff;
    background-color: #1C1C1C;
    border-color: #1C1C1C;
}

.btn-negro:focus,
.btn-negro.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.card-hover:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.ml-12 {
    margin-left: 12rem !important;
}

.mr-30 {
    margin-right: 30% !important;
}

.w-12 {
    width: 12rem !important;
}

.graficas {
    width: 100%;
    height: 600px !important;
}


.first-uppercase span::first-letter {
    text-transform: uppercase !important;
}

@media (max-width: 768px) {
    .w-12 {
        width: 8rem !important;
    }

    .graficas {
        width: 30rem !important;
        height: 15rem !important;
    }
}

/* Modal FullScreen */
.modal.modal-fullscreen .modal-dialog {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    max-width: none;
}

.modal.modal-fullscreen .modal-content {
    height: auto;
    height: 100vh;
    border-radius: 0;
    border: none;
}

.modal.modal-fullscreen .modal-body {
    overflow-y: auto;
}
